.footer-page {
    min-width: 320px;
    height: 408px;
    background-color: #182c3d;
    .container {
        width: 280px;
        height: 408px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer__wrapper {
        text-align: center;
      width: 100%;
      padding-top: 99px;
      margin-bottom: 47px;
        .footer__logo {
width: 70px;
height: 40px;
color: #fff;
margin-bottom: 38px;
        }
        .footer__socials {
padding: 0;
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: space-around;
list-style: none;
align-items: center;
.social__link {
    text-decoration: none;
}
.social__img {
    color: #fff;
    fill: #fff;
    &--vk {
height: 19px;
    }
    &--fb {
height: 26px;
    }
    &--inst {
height: 26px;
    }
}
        }
    }
  .footer__credentials {
color: #ffc487;
font-family: "Raleway";
font-size: 20px;
font-weight: 500;
line-height: 30px;
margin-bottom: 3px;
  }
  .footer__company-name {
color: #ffc487;
font-family: "Raleway";
font-size: 20px;
font-weight: 500;
line-height: 30px;
  }
}