@font-face {
    font-family: "Muller Thin";
    src: url(/fonts/muller-thin.otf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Raleway";
    src: url(/fonts/Raleway-Regular.ttf);
    font-weight: 400;
  }

@import "norm.scss";

body {
    min-width: 320px;
    padding: 0;
    margin: 0;
    background-color: #fdfaf3;
}
* {
    box-sizing: border-box;
}
.btn {
color: #ffffff;
border: none;
font-family: 'Raleway ExtraBold', arial;
font-size: 14px;
font-weight: 400;
text-align: center;
letter-spacing: 1.6px;
display: inline-block;
text-decoration: none;
padding: 18px 0 19px;
margin: 0 auto;
box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.06);
cursor: pointer;
&--rectangle {
width: 217px;
color: #00203a;
font-family: 'Raleway ExtraBold', arial;
font-size: 15px;
font-weight: 400;
letter-spacing: 2.25px;
border: 2px solid #112537;
margin-top: 47px;
}
&--form-page {
  margin-top: 2px;
  padding-top: 30px;
  padding-bottom: 25px;
  font-family: 'Raleway ExtraBold', arial;
color: #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 17px;
letter-spacing: 3.3px;
  background-color: #f8a25a;
  width: 291px;
  border-radius: 5px;
  box-shadow: 0 0 49px 19px rgba(0, 0, 1, 0.02);
}
&--main-page {
  background-color: #f8a25a;
  width: 223px;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 58px;
    background-image: url(/img/320_arrow_down.svg);
    background-repeat: no-repeat;
    bottom: -88px;
    left: calc(47% + 1px);
  }
}
}
picture { display:block; }

figure {
  margin: 0;
  padding: 0;
}

@import "main-page.scss";
@import "features-page.scss";
@import "portfolio-page.scss";
@import "service-page.scss";
@import "video-page.scss";
@import "stages-page.scss";
@import "form-page.scss";
@import "review-page.scss";
@import "footer-page.scss";