.main-page {
    background-color: #fdfaf3;
    background-image: url(/img/320_header_bg_2.svg), url(/img/320_header_bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position:  0 0, -265px 0;
    height: 608px;
    &__title {
color: #ffffff;
font-family: "Playfair Display";
font-size: 48px;
font-weight: 700;
line-height: 48.19px;
letter-spacing: 1px;
text-align: center;
margin-top: 117px;
margin-bottom: 30px;
    }
    &__content  {
color: #ffffff;
font-family: "Muller Thin";
font-size: 18px;
font-weight: 400;
letter-spacing: 1px;
line-height: 21px;
text-align: center;
margin-bottom: 28px;
    }
    .slider {
        display: none;
        &__controls {
            display: none;
        }
    }
    .container {
        width: 290px;
        margin: 0 auto;
        height: auto;
        text-align: center;
    }
    .main__header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 50px;
        padding-top: 26px;
    }
    .main-nav {
        margin-left: auto;
        position: relative;
    }
    .burger {
        display: flex;
        border: none;
        margin: 0;
        padding: 0;
        width: 34px;
        height: 24px;
        background-color: transparent;
        position: relative;
        &__line {
            display: inline-block;
            width: 34px;
            background-color: #fff;
            height: 2px;
        }
    }
    .main-header__phone {
        display: none;
    }
    .socials--desktop {
        display: none;
    }
    .main-menu__items {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .main-page {
        height: 1112px;
        background-image: url(/img/768_main_bg.jpg);
        background-position: -512px 0;
        &__title {
            margin-top: 0;
            font-size: 100px;
            line-height: 100px;
            margin-bottom: 68px;
        }
        &__content {
            font-size: 26px;
            letter-spacing: 1.46px;
            line-height: 1.2;
            margin-bottom: 61px;
        }
        .container {
            width: 695px;
        }
        .main__header {
            height: 45px;
            padding-top: 61px;
            margin-bottom: 234px;
        }
        .burger {
            width: 64px;
            height: 44px;
            &__line {
                width: 64px;
                height: 5px;
            }
        }
    }
}