.review-page {
min-width: 320px;
padding-top: 137px;
padding-bottom: 200px;
    .container {
width: 295px;
margin: 0 auto;
text-align: center;
    }
&__title {
color: #00203a;
font-family: "Playfair Display";
font-size: 45px;
line-height: 55px;
margin: 0 auto;
font-weight: 700;
letter-spacing: 0.32px;
margin-bottom: 75px;
}
.slider {
    width: 295px;
    height: 581px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
box-shadow: 4px 7px 37px 14px rgba(0, 0, 1, 0.02);
    &__controls {
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }
    &__control {

    }
    .slide {
        height: 581px;
        background-color: #ffffff;
        margin: 0 auto;
text-align: center;
        display: none;
        width: 295px;
        &__photo {
            margin-top: -47px;
        }
        &__name {
color: #313131;
font-family: "Raleway";
font-size: 24px;
font-weight: 600;
line-height: 30px;
margin: 0;
margin-top: 8px;
margin-bottom: 3px;
        }
        &__prof {
color: #efb172;
font-family: "Raleway";
font-size: 18px;
font-weight: 700;
letter-spacing: 1.4px;
        }
        &__review {
            width: 270px;
color: #5e5e5e;
font-family: "Raleway";
font-size: 20px;
font-weight: 300;
line-height: 30px;
margin: 0 auto;
margin-top: 20px;
        }
        &--active {
            display: initial;
        }
        &__wrapper {
            margin: 0 auto;
            text-align: center;
        }
    }
}

}