.review-page {
min-width: 320px;
padding-top: 137px;
padding-bottom: 200px;
overflow-x: hidden;
    .container {
width: 295px;
margin: 0 auto;
text-align: center;
    }
&__title {
color: #00203a;
font-family: "Playfair Display";
font-size: 45px;
line-height: 55px;
margin: 0 auto;
font-weight: 700;
letter-spacing: 0.32px;
margin-bottom: 75px;
}
.slider {
    width: 295px;
    height: 581px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
box-shadow: 4px 7px 37px 14px rgba(0, 0, 1, 0.02);
    &__controls {
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }
    &__control {

    }
    .slide {
        height: 581px;
        background-color: #ffffff;
        margin: 0 auto;
text-align: center;
        display: none;
        width: 295px;
        &__photo {
            margin-top: -47px;
        }
        &__name {
color: #313131;
font-family: "Raleway";
font-size: 24px;
font-weight: 600;
line-height: 30px;
margin: 0;
margin-top: 8px;
margin-bottom: 3px;
        }
        &__prof {
color: #efb172;
font-family: "Raleway";
font-size: 18px;
font-weight: 700;
letter-spacing: 1.4px;
        }
        &__review {
            width: 270px;
color: #5e5e5e;
font-family: "Raleway";
font-size: 20px;
font-weight: 300;
line-height: 30px;
margin: 0 auto;
margin-top: 20px;
        }
        &--active {
            display: initial;
        }
        &__wrapper {
            margin: 0 auto;
            text-align: center;
        }
    }
}

}

@media screen and (min-width: 768px) { 
    .review-page {
        padding-top: 178px;
        .container {
            width: 700px;
        }
        &__title {
            text-align: left;
            margin-bottom: 48px;
        }
        .slider {
            margin: 0;
            height: 273px;
                        width: 652px;
                        .slide {
                            height: 273px;
                                            width: 652px;
                                &__photo {
                    position: absolute;
                    right: -110px;
                    top: 85px;
                    width: 215px;
                    height: 192px;
                }
                &__name {
                    margin: 0;
                    margin-bottom: 5px;
                    font-size: 22px;
                    text-align: left;
                    letter-spacing: 0.5px;
                }
                &__prof {
font-size: 16px;
letter-spacing: 1.25px;
display: block;
text-align: left;
                }
                &__review {
                    text-align: left;
                    width: 470px;
                    display: flex;
                    letter-spacing: 0px;
                    font-size: 16px;
                    margin: 0;
                    margin-top: 25px;
                    line-height: 26px;
                }
                &__wrapper {
                    position: relative;
                    padding-top: 47px;
                    padding-left: 69px;
                }
            }
        }
    }
}