.service-page {
    min-width: 320px;
    padding-top: 125px;
    &__title {
        color: #00203a;
        font-family: "Playfair Display";
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        margin-bottom: 35px;
            }
    .container {
        width: 290px;
        margin: 0 auto;
    }
    .service__info {
        padding-bottom: 107px;
    }
    .service__content {
        text-align: center;
        .service__title {
            display: none;
        }
        .service__numb {
            display: none;
        }
        .service__desc {
            margin: 0;
            text-align: left;
            margin-top: 22px;
color: #5e5e5e;
font-family: "Raleway";
font-size: 20px;
font-weight: 300;
line-height: 30px;
        }
    }
  .services {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 59px;
      
      .service {
          margin-bottom: 34px;
          &:last-child{ 
              margin-bottom: 0;
          }
          &__link {
color: #7d7d7d;
font-family: "Raleway";
font-size: 22px;
font-weight: 300;
text-decoration: none;
letter-spacing: 0px;
          }
          &--active {
              .service__link {
                  letter-spacing: 0.7px;
                color: #00203a;
                font-family: 'Raleway SemiBold', arial;
                font-weight: 400;
              }
              .service__desc {
                  display: block;
color: #5e5e5e;
font-family: "Raleway", sans-serif;
font-size: 20px;
font-weight: 300;
line-height: 30px;
              }
          }
      }
  }
}

@media screen and (min-width: 768px) {
    .service-page {
        padding-top: 133px;
        overflow-x: hidden;
        padding-bottom: 91px;
        .container {
            width: 692px;
        }
        &__title {
            word-spacing: 5px;
            text-align: left;
            margin-bottom: 47px;
        }
        .services {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            height: 236px;
            align-content: space-between;
            margin-bottom: 90px;
        .service {
            flex-basis: calc(692px / 2 - 20px);
            margin: 0;
        &:nth-child(odd) {
            margin-right: 20px;
        }
        }
        }
        .service__img {
            margin-left: -63px;
        }
        .service__content {
            .service__title {
color: #00203a;
font-family: "Playfair Display";
font-size: 30px;
font-weight: 400;
letter-spacing: 0.7px;
display: flex;
text-align: left;
margin: 0;
margin-top: 55px;
margin-left: 3px;
margin-bottom: 15px;
            }
            .service__desc {
                margin: 0;
                width: 500px;
                letter-spacing: -1px;
            }
        }
    }
}